<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
    <%- include ('partials/navigation.ejs') %>
    <ul>
        <% books.forEach(book => { %>
            <li><%= book.title %></li>
          <form action="/book/delete/<%= book.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% }); %>
    </ul>
</body>
</html>